version: "3.8"
services:
  mongo:
    image: mongo:6
    container_name: flashtans_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: flashtans_app
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      MONGO_URI: mongodb://admin:admin123@mongo:27017/flashtans?authSource=admin
    depends_on:
      - mongo
    volumes:
      - .:/usr/src/app
volumes:
  mongo_data:
